* {
    padding: 0;
    margin: 0;
}

.container_main_slider {
    align-items: center;
    background-color: #004853;
    display: flex;
    flex-wrap: wrap;
    float: left;
    height: unset;
    justify-content: center;
    padding: 20vh 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.container_slider {
    float: left;
    position: relative;
    width: 100%;
}

.container_slider_h1 {
    color: #fff;
    font-size: clamp(2.625rem, 1.831rem + 3.97vw, 6rem);
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: -5rem;
}

.d_block {
    display: block !important;
}

.container_slider_swipper {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
    touch-action: pan-y;
}

.container_slider_swipper_wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: var(initial);
    width: 100%;
    z-index: 1;
}

.container_main_slider_item_one {
    background: url(../img/185034714ce5b3ee9b03.svg) no-repeat 100% 0;
    color: black;
    height: 110px;
    margin-bottom: 25px;
    font-size: 25px;
}

.container_main_slider_item_four_consistent {
    background-color: #fff;
    width: 450px;
    margin-top: 35px;
    border-radius: 50%;
    margin-left: 590px;
}

.container_main_slider_item_four_accurate {
    background-color: #fff;
    width: 450px;
    margin-top: 28px;
    border-radius: 50%;
    margin-left: 590px;
}

.container_main_slider_item_four_organized {
    background-color: #fff;
    width: 450px;
    margin-top: 28px;
    border-radius: 50%;
    margin-left: 590px;
}

.container_main_slider_item_four_converts {
    background-color: #fff;
    width: 300px;
    margin-top: 35px;
    border-radius: 50%;
    margin-left: 650px;
}

.container_main_slider_item_four_shine {
    background-color: #fff;
    width: 300px;
    border-radius: 50%;
    margin-left: 650px;
}

.container_main_slider_item_four_relevant {
    background-color: #fff;
    width: 400px;
    margin-top: 28px;
    border-radius: 50%;
    margin-left: 600px;
}

.container_main_slider_item_two {
    background: url(../img/94c31caf1aa119582c3d.svg) no-repeat 100% 0;
    color: black;
    height: 110px;
    margin-bottom: 25px;
    font-size: 30px;
}

.container_main_slider_item_three {
    background: url(../img/59e5f80328766ba60f7c.svg) no-repeat 100% 0;
    color: black;
    height: 110px;
    margin-bottom: 25px;
    font-size: 30px;
}

.container_main_slider_item_four {
    background: url(../img/250c03cddfae60e3a2d5.svg) no-repeat 100% 0;
    color: black;
    height: 110px;
    margin-bottom: 25px;
    font-size: 30px;
}

.container_slider_h2 {
    color: #fff;
    font-size: clamp(1rem, .882rem + .59vw, 1.5rem) !important;
    font-weight: 400;
    line-height: 1.3;
}

.container_slider_button_div {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 52px;
}

.container_slider_button_one {
    background-color: #6c6cc7;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 19.25px 32px;
}

.container_slider_button_two {
    background-color: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 18.25px 31px;
    border-color: #fff;
    color: #fff;
}

.split_content_logos {
    align-items: center;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    overflow: hidden;
    padding: 160px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.split_content_logos_container {
    height: 100%;
}

.split_content_logos_data {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    height: 100%;
    padding: 0 62px;
    text-align: left;
    width: 100%;
}

.split_content_logos_data_wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 56%;
}

.split_content_logos_data_content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 46%;
}

.split_content_logos_data_content_h3 {
    font-size: clamp(3rem, 2.824rem + .88vw, 3.75rem);
    line-height: 1.2;
    margin: 34px 0 40px;
}

.split_content_logos_data_content_p {
    font-size: clamp(1rem, .912rem + .44vw, 1.375rem) !important;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
    color: #232323;
}

.split_content_logos_data_content_hero_action {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-top: 49px
}

.split_content_logos_data_content_hero_action_button_one {
    background-color: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 18.25px 31px;
    text-align: left;
}

.split_content_logos_data_content_hero_action_button_two {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    border: none;
    background-color: #fff;
    text-align: left;
}

.split_content_logos_data_wrap_logo {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex: 1 1 auto;
    float: left;
    height: 140px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all .4s;
    width: calc(50% - 24px);
}

.split_content_logos_data_wrap_logo img {
    max-width: 80%;
    object-fit: contain;
}

.video_split {
    align-items: center;
    background: #fff url(../img/eb157f8e8e6762dd3ac4.svg) no-repeat 100% 0;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    overflow: hidden;
    padding: 190px 0 168px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #d6e4e3;
}

.video_container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}

.video_container_row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
}

.video_container_data {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    height: 100%;
    padding: 0 62px;
    text-align: left;
    width: 100%
}

.video_container_data_video {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}

.video_container_data_video_ratio {
    position: relative;
    width: 100%;
    --bs-aspect-ratio: 56.25%;
}

.video_container_data_video_ratio::before {
    content: "";
    display: block;
    padding-top: var(--bs-aspect-ratio);
}

.video_container_data_content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 34%;
}

.video_container_data_content_h2 {
    margin: 34px 0 40px;
    line-height: 1.2;
    font-size: clamp(1.875rem, 1.61rem + 1.32vw, 3rem);
}

.video_container_data_content_p {
    font-size: 18px;
    line-height: 1.4;
    color: #232323;
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.intro_cards {
    float: left;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.intro_cards_container {
    height: 100%;
}

.intro_cards_data {
    float: left;
    margin-top: 189px;
    padding: 0 62px;
    position: relative;
    width: 100%;
}

.intro_cards_data_row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
}

.intro_cards_data_row_h2 {
    margin-bottom: 80px;
    line-height: 1.2;
    font-size: clamp(1.875rem, 1.61rem + 1.32vw, 3rem);
}

.container_stats {
    align-items: center;
    background-color: #6c6cc7;
    display: flex;
    float: left;
    padding: 75px 0;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container_stats_row {
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
}

.container_stats_row_content {
    flex: 0 0 auto;
    width: 35%;
}

.container_stats_row_content_h2 {
    font-size: clamp(1.875rem, 1.61rem + 1.32vw, 3rem);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    color: #fff;
}

.container_stats_row_content_p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 0;
    margin-top: 24px;
}

.container_stats_row_content_two {
    flex: 0 0 auto;
    width: 65%;
}

.container_stats_row_content_two_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
}

.container_stats_row_content_two_row_card {
    align-items: center;
    align-items: flex-start;
    display: flex;
    float: left;
    gap: 10px;
    height: 50%;
    margin-top: 15px;
    position: relative;
    width: 65%;
}

.container_stats_row_content_two_row_card_left {
    align-items: center;
    display: flex;
    float: left;
    position: relative;
    width: 35px;
    background-color: rgb(115, 218, 120);
    border-radius: 50%;
    height: 35px;
}

.container_stats_row_content_two_row_card_left img {
    position: relative;
    top: 4px;
    vertical-align: middle;
}

.container_stats_row_content_two_row_card_right {
    align-items: center;
    display: block;
    float: left;
    position: relative;
    /* width: 100%; */
    width: calc(100% - 50px);
}

.container_stats_row_content_two_row_card_right_value {
    color: #fff;
    display: flex;
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
}

.container_stats_row_content_two_row_card_right_h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 4px;
    text-transform: uppercase;
}

.g2_badge {
    align-items: center;
    display: flex;
    float: left;
    padding: 60px 0;
    position: relative;
    width: 100%;
}

.g2_badge_container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}

.g2_badge_container_inner {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    position: relative;
}

.g2_badge_container_inner_data {
    flex-wrap: wrap;
    position: relative;
    gap: 25px;
    width: 70%;
    left: 18em;
}

.g2_badge_container_inner_data img {
    max-width: 100%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.zig_zag_arrow {
    float: left;
    padding: 240px 0 167px;
    position: relative;
    width: 100%;
    background-color: #d6e4e3;
}

.zig_zag_arrow_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}

.zig_zag_arrow_container_header_section {
    float: left;
    margin-bottom: 69px;
    position: relative;
    text-align: center;
    width: 100%;
}

.zig_zag_arrow_container_header_section_h2 {
    font-size: clamp(3rem, 2.824rem + .88vw, 3.75rem);
    line-height: 1.2;
    margin-bottom: 38px;
}

.zig_zag_arrow_container_header_section_p {
    font-size: clamp(1rem, .812rem + .44vw, 1.375rem) !important;
    line-height: 1.4;
    color: #232323;
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
}

.zig_zag_arrow_container_header_section_d_none {
    display: none !important;
}

.zig_zag_item {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    float: left;
    overflow: hidden;
    padding: 155px 0 295px;
    position: relative;
    position: unset;
    text-align: center;
    width: 100%;
}

.zig_zag_item_flipped {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    float: left;
    overflow: hidden;
    padding: 155px 0 295px;
    position: relative;
    position: unset;
    text-align: center;
    width: 100%;
    /* flex-direction: row;  */
}

.zig_zag_item_data {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    height: 100%;
    padding: 0 62px;
    text-align: left;
    width: 100%;
}

.zig_zag_item_data_flipped {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 100%;
    padding: 0 62px;
    text-align: left;
    width: 100%;
}

.zig_zag_item_data_image {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.zig_zag_item_data_image_flipped {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.zig_zag_item_data_image_arrow_head {
    height: 660px;
    position: absolute;
    right: 0;
    width: 40%;
}

.zig_zag_item_data_image_arrow_head_flipped {
    height: 660px;
    left: 0;
    position: absolute;
    width: 38%;
}

.zig_zag_item_data_image_arrow_head img {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    height: 100%;
    object-fit: cover;
    object-position: right;
    width: 100%;
    vertical-align: middle;
}

.zig_zag_item_data_image_arrow_head_flipped img {
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    height: 100%;
    object-fit: cover;
    object-position: left;
    width: 100%;
}

.zig_zag_item_data_content {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.zig_zag_item_data_content_h2 {
    margin-bottom: 25px;
    margin-top: 25px;
    line-height: 1.2;
    font-size: clamp(1.875rem, 1.61rem + 1.32vw, 3rem);
    font-weight: 500;
}

.zig_zag_item_data_content_p {
    font-size: 18px;
    line-height: 1.4;
    color: #232323;
    margin-bottom: 1rem;
    margin-top: 0;
}

.zig_zag_item_data_content_action {
    align-items: center;
    display: flex;
    float: left;
    gap: 24px;
    margin-top: 18px;
    position: relative;
    width: 100%
}

.zig_zag_item_data_content_action_button_one {
    background-color: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 18.25px 31px;
    text-decoration: none;
    transition: background-color .4s, color .4s;
}

.zig_zag_item_data_content_action_button_span {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.zig_zag_item_data_content_action_button_two {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    border: none;
    background-color: #d6e4e3;
}
